@import url("/static/css/reset.css");
@import url("/static/css/typography.css");

.layout {
    width: 60em;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.site-header {
    width: 100%;
    border-bottom: 5px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.site-footer {
    width: 100%;
    background-color: rgb(102, 102, 102);
    border-radius: 0.3em;
}