html {
    font: 16px/1.5;
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 60%;
    margin: 0 auto;
    margin-top: 2em;
}

.container article {
    width: 60%;
    display: inline-block;
    margin: 1em;
}

p {
    padding-bottom: 0.6em;
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: 1em;
}

.latest-posts {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}