html {
    font: 16px/1.5 Arial, sans-serif;
}

body {
    max-width: 60em;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, serif;
    line-height: 1.2;
    font-size: 1em;
    font-weight: bold;
}